   
   
   
   /*FONT*/


@font-face {
        font-family: Heura;
        src: url(./assets/fonts/Heura.woff);
}

    /*GENERICS*/


body{
    margin: 0;
    font-size: 23px;  
    font-family: Heura;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#f9e021 ;
    padding: 4rem;
}


    /*RESPONSIVE DESIGN FOR +1024 AND -1024*/


@media screen and  (max-width:1023.9px){  
                                                /* ---------- //Para Movil.*/
    .logo{
        width: 8rem;
        transition-duration: 0.1s;
    }

    .container{
        display: none;
    }

    .icon{
        font-size: 2rem;
        background-color: white;
        border-radius: 4rem;
        padding: 0.5rem;
    }

    .icon:hover{
        background-color: black;
        color: white;
        transition-duration: 0.5s;
    }
}    



@media screen and (min-width:1024px){     
                                                    /*---------- //Para pantalla grande*/

    .logo{
        width: 5rem;
        transition-duration: 0.1s;
    }

    .container{
        margin: 0;
        padding: 0;
    }

    .container-item{
        display: inline-block;
        list-style: none;
        padding: 1rem;
    }

    .container-item:hover{
        color: white;
        text-decoration: underline;
        transition-duration: 1s;
    }

    .icon-container{
        display: none;
    }
}